<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kickin' Chicken - Meals</title>
    </head>

    <body>
        <h1>Meals</h1>

        <h2>Spicy Chicken Meals</h2>
        {% for name, price in spicy_chicken.items %}
            <p>
                {{ name }} - ${{ price|floatformat:2 }}
                <button type="button">Add to Order</button>
            </p>
        {% endfor %}

        <h2>Original Chicken Meals</h2>
        {% for name, price in original_chicken.items %}
            <p>
                {{ name }} - ${{ price|floatformat:2 }}
                <button type="button">Add to Order</button>
            </p>
        {% endfor %}

        <h2>Chicken Strip Meals</h2>
        {% for name, price in chicken_strips.items %}
            <p>
                {{ name }} - ${{ price|floatformat:2 }}
                <button type="button">Add to Order</button>
            </p>
        {% endfor %}

        <h2>Chicken Waffle Meals</h2>
        {% for name, price in chicken_waffles.items %}
            <p>
                {{ name }} - ${{ price|floatformat:2 }}
                <button type="button">Add to Order</button>
            </p>
        {% endfor %}
    </body>
</html>